# ==================== Database ====================
PG_STUDENT_HOST = "..."
PG_STUDENT_PORT = "..."
PG_STUDENT_DBNAME = "..."
PG_STUDENT_USER = "..."
PG_STUDENT_PASSWORD = "..."
TABLES = ["categories", "..."]

# ==================== General ====================
DEBUG_MODE = "0"
LLM_PROVIDER = "anthropic"  # Допустимые значения: yandex, openai, anthropic
USE_SYSTEM_PROMPT = "1"

# ==================== YandexGPT ====================
YANDEX_CLOUD_API_KEY = "..."
YANDEX_CLOUD_FOLDER = "..."
YANDEX_CLOUD_MODEL = "aliceai-llm/latest"

# ==================== OpenAI (ChatGPT) ====================
OPENAI_API_KEY = "..."
OPENAI_MODEL = "gpt-4o-mini"

# ==================== Anthropic (Claude) ====================
ANTHROPIC_API_KEY = "..."
ANTHROPIC_MODEL = "claude-haiku-4-5"
